@use 'variables' as *;

header {
        background-color: $header-color;
        position: sticky;
        top: 0;
        left: 0;

        .container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: $padding-nav 0;
    }
}

.menu {
        display: flex;

        li {
                    font-weight: bold;
                    margin-left: $menu-gap;

                    a {
                                    color: $link-color;
                                    text-decoration: none;
            }
    }
}
