@use 'variables' as *;

section {
        padding: $padding-section 0;
}

.products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: $grid-columns-desktop;
        column-gap: $grid-col-gap;
        row-gap: $grid-row-gap;
        width: 100%;
}

.product-item {
        img {
                    width: 100%;
                    border-radius: $border-radius-card;
    }
}

.product-button {
        display: block;
        background-color: $button-color;
        color: $link-color;
        text-align: center;
        padding: 8px 0;
        border-radius: $border-radius-btn;
        margin-top: 8px;
        text-decoration: none;

        &:hover {
                    background-color: $button-hover-color;
    }
}
